:root {
    --black: #0b0c0e;
    --white: #ffffff;
    --bg: #1d1d1d;
    --bg1: #2b2b2b;
    --bg2: #3a3a3a; 
    --accent: #3e92a7;
    --accent1: #2ca5c4;
    --white1: #c5c5c5;
}

html {
    background-color: var(--bg);
    color: var(--white);
}

body {
    font-family: sans-serif;
}
