@font-face {
  font-family: BOLD;
  src: url(../assets/THEBOLDFONT.ttf);
}
:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1E1E2E;
  color: #C3BAC6;
  accent-color: #96CDFB;
}

body {
  /* I wish web browsers will follow this rule*/
  margin: 0;
}

a {
  text-decoration: none;
  color: #DDB6F2;
}
a :hover {
  font-weight: bold;
  color: #96CDFB;
}

.header {
  background-color: #1A1826;
  background-clip: border-box;
  padding: 5px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  font-size: 16px;
  transition: padding 0.8s;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.header .title {
  transition: 0.6s;
  font-weight: bold;
  color: #D9E0EE;
  font-family: BOLD;
}
.header .icon::before {
  content: url(../assets/icon.svg);
  padding: 0 8px;
}
.header .icon {
  padding: 6px;
}
.header :hover {
  color: #96CDFB;
}
.header .menu .cols {
  padding: 0 3px;
}

.notsoprofessional {
  background-image: linear-gradient(#96CDFB, #1E1E2E);
  padding: 140px 100px;
}
.notsoprofessional .text {
  color: #C9CBFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
}
.notsoprofessional .text .typing {
  font-weight: bold;
  color: #96CDFB;
  border-right: 0.05em solid;
  -webkit-animation: caret 1s steps(1) infinite;
          animation: caret 1s steps(1) infinite;
}

.about {
  background-color: #575268;
  padding: 100px 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about .kitty::before {
  content: url(../assets/cat.svg);
}
.about .kitty {
  height: 20px;
  padding-bottom: 250px;
  padding-right: 80px;
}
.about .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
}
.about .text h1 {
  font-weight: bold;
  color: #96CDFB;
}

.specs {
  background-image: linear-gradient(#1A1826, #1E1E2E);
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
}
.specs h1 {
  color: #F8BD96;
  font-size: 48px;
  text-align: center;
}
.specs .groups {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  align-items: stretch;
}
.specs .groups .group {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  align-items: center;
}
.specs .groups .group img {
  height: 20vw;
}
.specs .groups .group .color {
  font-weight: bold;
  color: #ABE9B3;
}
.specs .groups .group .boldbold {
  color: #F2CDCD;
}
.specs .groups .group p {
  padding: 0 20px;
}
.specs .groups .group-row {
  flex-direction: row;
}
.specs .groups .group-reverse {
  flex-direction: row-reverse;
}

.contact {
  background-image: linear-gradient(#D9E0EE, #F5C2E7);
  padding: 40px;
  color: #1E1E2E;
}
.contact h1 {
  font-weight: bold;
  color: #1A1826;
  text-align: center;
}
.contact #contact {
  padding-bottom: 30px;
}
.contact .contacts {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contact .contacts .contact-list {
  display: flex;
  flex-basis: 20vw;
  margin: 15px;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(242, 143, 173, 0.5);
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.contact .contacts .contact-list:hover {
  border-radius: 25px;
  background-color: #f28eac;
}
.contact .contacts .contact-list h4 {
  font-weight: bold;
  color: #6E6C7E;
}

footer {
  background-color: #161320;
  color: #F28FAD;
  padding: 40px;
}
footer a {
  color: #96CDFB;
}
footer a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #89DCEB;
}

@-webkit-keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
@media screen and (max-width: 900px) {
  .header {
    padding: 15px;
    font-size: 28px;
  }
  .header .menu {
    display: none;
  }
  .header .icon::before {
    padding: 0 12px;
  }
  .header .icon {
    padding: 8px;
  }

  .notsoprofessional {
    padding: 140px 40px;
  }

  .about {
    flex-direction: column;
    padding: 80px 32px;
  }
  .about .kitty {
    padding-right: 0;
    padding-bottom: 350px;
  }
  .about p {
    font-size: 28px;
  }

  .specs {
    padding: 30px;
  }
  .specs .group {
    flex-direction: column-reverse !important;
  }
  .specs .group:not(figure) {
    align-items: stretch !important;
  }

  .contact .contacts {
    justify-content: unset !important;
    flex-direction: column;
  }
  .contact .contacts .contact-list {
    flex-basis: 0 !important;
  }

  figure {
    margin: 0;
  }

  img {
    height: 45vw !important;
  }
}
figcaption {
  font-size: 10px;
  color: #C3BAC6;
  font-style: italic;
}/*# sourceMappingURL=index.css.map */