@use "palette.scss" as p;

@font-face {
    font-family: "Fira Code";
    src: url("/FiraCodeNerdFontMono-Medium.ttf");
}

:root {
    font-family: "Fira Code";
    color: p.$foreground;
}


body {
    background-color: p.$background;
    overflow-x: hidden;
}

a {
    color: p.$foreground;
}

a:visited {
    color: p.$foreground;
    text-decoration: wavy;
}